<div class="content">
	<div class="quince-text"> TENDRÁS 15 SEGUNDOS PARA GRABAR TU RESPUESTA A: </div>
	<div class="pregunta-text"> ¿DINOS POR QUÉ DEBERÍAS SER EL CORRESPONSAL TRADICIONAL? </div>
	<div class="grabar-div">
		<%= button_tag '',  :id => "grabar-btn", :onclick => "recordEntry()" %>
	</div>
</div>