<article>
	<div>
		Tendrás 15 segundos para grabar tu respuesta a:
	</div>
	<div>
		¿Dinos por qué deberías ser el  corresponsal tradicional?
	</div>
	<%= button_tag 'GRABAR AQUÍ',  :id => "grabar-btn", :onclick => "recordEntry()" %>
</article>