<div class="espacio"></div>
<div class="quince-div"></div>
<div class="content">
	<div id="chrome-warning">NO OLVIDES AUTORIZAR</div>
	<div class="mailvu-div">
		<iframe id="mailvu-widget" height="100%" width="100%" frameborder="no"></iframe>
	</div>
	<div id="entry-values" data-hash="<%= @hash %>" data-timestamp="<%= @timestamp %>" data-entry="<%= @entry_id%>"></div>
</div>