<% content_for :head_style do %>
  <%= stylesheet_link_tag "index" %>
<% end %>
<% content_for :head_script do %>
  <%= javascript_include_tag "index" %>
<% end %>
<div id="fb-root"></div>
<section id="section-fan">
  <article id="section-fan-header"></article>
  <article id="section-fan-content">
    <div class="content-large">
      <div class="youtube-content">
        Gracias por participar, el tiempo de la dinámica ha concluído.
      </div>
    </div>
  </article>

</section>

<section id="section-no-fan">
  <article id="section-fan-header"></article>
  <div class="no-fan-div"></div>
</section>

<div id="ruby-values" data-signed-request="<%= @signed_request %>" data-is-fan="<%= @is_fan%>">
