#continuar-btn {
  background: transparent url("continuar_btn.png");
  border: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

#continuar-btn:hover {
  background-image: url("continuar_btn_on.png");
}

#grabar-btn {
  background: transparent url("grabar_btn.png");
  border: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

#grabar-btn:hover {
  background-image: url("grabar_btn_on.png");
}

#otro-btn {
  background: transparent url("otro_ticket_btn.png");
  border: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

#otro-btn:hover {
  background-image: url("otro_ticket_btn_on.png");
}

#participar-btn {
  background: transparent url("participa_btn.png");
  border: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

#participar-btn:hover {
  background-image: url("participa_btn_on.png");
}

#section-fan {
  display: none;
  height: 100%;
  margin-top: 180px;
  width: 100%;
}

#section-fan-content{
  margin: auto;
  width: 100%;
}

#section-fan-header {
  background: url("conviertete.png");
  height: 248px;
  margin: auto;
  width: 454px;
}

#section-no-fan {
  height: 100%;
  margin-top: 180px;
  width: 100%;
}

.confirmacion {
  background: url("corte_queda.png");
  height: 224px;
  margin: auto;
  width: 594px;
}

.content {
  height: auto;
  margin: auto;
  width: 530px;
}

.content-large {
  height: auto;
  margin: auto;
  width: 100%;
}

.content-ticket {
  height: auto;
  margin: auto;
  text-align: center;
  width: 410px;
}

.continuar-div {
  height: 37px;
  margin: 20px auto 0 auto;
  width: 149px;
}

.error-text {
  color: #FF0000;
  font-size: 1.2em;
  margin-top: 5px;
}

.espacio {
  height: 10px;
}

.grabar-div {
  height: 70px;
  margin: 50px auto 0 auto;
  width: 231px;
}

.instrucciones {
  background-color: rgba(189, 138, 21, 0.6);
  height: 244px;
  margin: auto;
  margin: 0 auto 20px auto;
  width: 614px;
}

.instrucciones-img {
  background: url("instrucciones_sinfondo.png");
  height: 100%;
  width: 100%;
}

.mailvu-div {
  margin: 0 auto;
  height: 375px;
  width: 410px;
}

.no-fan-div {
  background: url("megusta.png");
  height: 68px;
  margin: 80px auto 0 auto;
  width: 611px;
}

.otro-div {
  height: 67px;
  margin: 0 auto;
  width: 278px;
}

.otro-text {
  font-size: 1.8em;
  margin: 0 auto 30px auto;
  text-align: center;
}

.participar-div {
  height: 78px;
  margin: 10px auto 0 auto;
  width: 327px;
}

.pregunta {
  background: url("tendras_01.png");
  height: 248px;
  margin: auto;
  width: 454px;
}

.quince-div {
  background: url("tendras_02.png");
  height: 205px;
  margin: auto;
  width: 454px;
}

.ticket-div {
  bottom: 55px;
  position: fixed;
  right: 100px;
  width: 25%;
}

.ticket-number {
  background: url("fondo_numeros.png");
  border: none;
  color: white;
  font-family: corresponsal;
  font-size: 1.6em;
  height: 37px;
  margin-right: 10px;
  margin-top: 20px;
  padding-left: 8px;
  width: 250px;
}

.ticket-img {
  background-image: url("ticket.png");
  height: 216px;
  width: 239px;
  vertical-align: bottom;
}

.ticket-text {
  font-size: 1.8em;
}

.youtube-content {
  margin: 20px auto 0 auto;
  height: 410px;
  width: 690px;
}